<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="mapper.authority.SystemStressTestMapper">
	
	<insert id="insertSimple" parameterType="com.wayakeji.fastserver.authority.params.SystemStressTestSimple">
		INSERT INTO `system_stress_test_simple`(
			`data`, `time`
		)VALUES (
			#{data}, #{time}
		)
	</insert>
	
</mapper>